In [43]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import scipy
import zipfile

In [54]:
pop_saq=pd.read_excel("../data/pop-sexe-age-quinquennal6816.xls", sheet_name="COM_2016", skiprows=[i for i in range(13)], dtype={'CR':str})

In [45]:
try:
    #remove some a priori useless columns
    del(pop_saq['DR'])
    del(pop_saq['STABLE'])
except:
    pass

In [46]:
#Gather all the columns in a unique column with variables to describe them ('sex' and 'age')
pop_saq=pop_saq.melt(id_vars=['DR18','CR','RR','LIBELLE'])
tmp=pop_saq['variable'].str.extract(r'ageq_rec(?P<age>\d+)s(?P<sex>\d)rpop2016')
pop_saq=pd.concat([tmp,pop_saq],axis=1)
pop_saq['age']=(pd.to_numeric(pop_saq['age'])-1)*5 #counts for 5 years intervals of ages
pop_saq['sex']=pop_saq['sex'].astype(int)

In [47]:
del(tmp)
del(pop_saq['variable'])

In [48]:
#rename columns
pop_saq=pop_saq.rename(columns={'CR':'code', 'value':'pop', 'LIBELLE':'city_name', 'DR18':'dpt'})
pop_saq['city_name']=pop_saq['city_name'].str.lower()

In [49]:
pop_saq.head()

   age  sex dpt code  RR              city_name         pop
0    0    1  01  001  84  abergement-clémenciat   15.000000
1    0    1  01  002  84    abergement-de-varey    5.000000
2    0    1  01  003  84               amareins         NaN
3    0    1  01  004  84      ambérieu-en-bugey  529.591402
4    0    1  01  005  84    ambérieux-en-dombes   25.555140

* age: age quinquennal
* sex: sexe
* code: code commune INSEE
* city_name: nom commune
* dpt: departement code
* RR: region code
* pop: number of people with a given sex, age and dpt

In [51]:
pop_saq.to_csv("pop.csv")

In [53]:
pop_saq[pop_saq['RR']==41]['dpt'].unique()

array(['55'], dtype=object)

In [55]:
pop_saq['DR'].unique()

array(['01', '02', '03', '04', '05', '06', '07', '08', '09', '10', '11',
       '12', '13', '14', '15', '16', '17', '18', '19', '20', '21', '22',
       '23', '24', '25', '26', '27', '28', '29', '2A', '2B', '30', '31',
       '32', '33', '34', '35', '36', '37', '38', '39', '40', '41', '42',
       '43', '44', '45', '46', '47', '48', '49', '50', '51', '52', '53',
       '54', '55', '56', '57', '58', '59', '60', '61', '62', '63', '64',
       '65', '66', '67', '68', '69', '70', '71', '72', '73', '74', '75',
       '76', '77', '78', '79', '80', '81', '82', '83', '84', '85', '86',
       '87', '88', '89', '90', '91', '92', '93', '94', '95', '971', '972',
       '973', '974'], dtype=object)

In [56]:
pop_saq['RR'].unique()

array([84, 32, 22, 93, 44, 21, 76, 28, 75, 24, 94, 27, 53, 43, 91, 52, 41,
       11,  1,  2,  3,  4])

In [67]:
pop_saq[ (pop_saq['DR18']=="55") & (pop_saq['CR']=="001")]

,RR,DR,CR,STABLE,DR18,LIBELLE,ageq_rec01s1rpop2016,ageq_rec01s2rpop2016,ageq_rec02s1rpop2016,ageq_rec02s2rpop2016,...,ageq_rec16s1rpop2016,ageq_rec16s2rpop2016,ageq_rec17s1rpop2016,ageq_rec17s2rpop2016,ageq_rec18s1rpop2016,ageq_rec18s2rpop2016,ageq_rec19s1rpop2016,ageq_rec19s2rpop2016,ageq_rec20s1rpop2016,ageq_rec20s2rpop2016
22277,44,55,001,1,55,Abainville,0.0,4.93331,4.865487,14.799931,...,0.0,5.071808,0.0,0.0,5.071808,5.142508,5.142508,0.0,0.0,0.0

In [60]:
pop_saq[pop_saq['DR18']==80]

Empty DataFrame
Columns: [RR, DR, CR, STABLE, DR18, LIBELLE, ageq_rec01s1rpop2016, ageq_rec01s2rpop2016, ageq_rec02s1rpop2016, ageq_rec02s2rpop2016, ageq_rec03s1rpop2016, ageq_rec03s2rpop2016, ageq_rec04s1rpop2016, ageq_rec04s2rpop2016, ageq_rec05s1rpop2016, ageq_rec05s2rpop2016, ageq_rec06s1rpop2016, ageq_rec06s2rpop2016, ageq_rec07s1rpop2016, ageq_rec07s2rpop2016, ageq_rec08s1rpop2016, ageq_rec08s2rpop2016, ageq_rec09s1rpop2016, ageq_rec09s2rpop2016, ageq_rec10s1rpop2016, ageq_rec10s2rpop2016, ageq_rec11s1rpop2016, ageq_rec11s2rpop2016, ageq_rec12s1rpop2016, ageq_rec12s2rpop2016, ageq_rec13s1rpop2016, ageq_rec13s2rpop2016, ageq_rec14s1rpop2016, ageq_rec14s2rpop2016, ageq_rec15s1rpop2016, ageq_rec15s2rpop2016, ageq_rec16s1rpop2016, ageq_rec16s2rpop2016, ageq_rec17s1rpop2016, ageq_rec17s2rpop2016, ageq_rec18s1rpop2016, ageq_rec18s2rpop2016, ageq_rec19s1rpop2016, ageq_rec19s2rpop2016, ageq_rec20s1rpop2016, ageq_rec20s2rpop2016]
Index: []

[0 rows x 46 columns]

In [68]:
pop_saq[ (pop_saq['DR18']=="55") & (pop_saq['RR']==41)]

,RR,DR,CR,STABLE,DR18,LIBELLE,ageq_rec01s1rpop2016,ageq_rec01s2rpop2016,ageq_rec02s1rpop2016,ageq_rec02s2rpop2016,...,ageq_rec16s1rpop2016,ageq_rec16s2rpop2016,ageq_rec17s1rpop2016,ageq_rec17s2rpop2016,ageq_rec18s1rpop2016,ageq_rec18s2rpop2016,ageq_rec19s1rpop2016,ageq_rec19s2rpop2016,ageq_rec20s1rpop2016,ageq_rec20s2rpop2016
22315,41,55,039,1,55,Beaumont-En-Verdunois,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
22326,41,55,050,1,55,Bezonvaux,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
22414,41,55,139,1,55,Cumières-Le-Mort-Homme,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
22464,41,55,189,1,55,Fleury-Devant-Douaumont,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
22513,41,55,239,1,55,Haumont-Près-Samogneux,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
22580,41,55,307,1,55,Louvemont-Côte-Du-Poivre,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [70]:
pop_saq[ (pop_saq['DR18']=="80") & (pop_saq['RR']==22)]

,RR,DR,CR,STABLE,DR18,LIBELLE,ageq_rec01s1rpop2016,ageq_rec01s2rpop2016,ageq_rec02s1rpop2016,ageq_rec02s2rpop2016,...,ageq_rec16s1rpop2016,ageq_rec16s2rpop2016,ageq_rec17s1rpop2016,ageq_rec17s2rpop2016,ageq_rec18s1rpop2016,ageq_rec18s2rpop2016,ageq_rec19s1rpop2016,ageq_rec19s2rpop2016,ageq_rec20s1rpop2016,ageq_rec20s2rpop2016
34427,22,80,394,0,80,Guemicourt,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [77]:
pop_saq[ (pop_saq['RR']==91)]

,RR,DR,CR,STABLE,DR18,LIBELLE,ageq_rec01s1rpop2016,ageq_rec01s2rpop2016,ageq_rec02s1rpop2016,ageq_rec02s2rpop2016,...,ageq_rec16s1rpop2016,ageq_rec16s2rpop2016,ageq_rec17s1rpop2016,ageq_rec17s2rpop2016,ageq_rec18s1rpop2016,ageq_rec18s2rpop2016,ageq_rec19s1rpop2016,ageq_rec19s2rpop2016,ageq_rec20s1rpop2016,ageq_rec20s2rpop2016
12307,91,30,063,0,30,Cambo,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28605,91,66,135,0,66,Perillos,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN