# Public data exploration

The objective of this notebook is to explore some public dataset that may be used to feed a realistic dataset of care trajectories.

We explore datasets that can help to create a realistic population of patient (bases on demographic datasets) and datasets about care deliveries.

Some library import

In [1]:
import pandas as pd
import matplotlib as plt

## Open medic dataset

Open medic is a dataset which contains aggregated counts of deliveries of medics to the French population. It comes for the SNDS dataset.

Load the open medic csv dataset from the zip file

In [2]:
data = pd.read_csv("../data/OPEN_MEDIC_2019.zip", header=0, sep=';', encoding="latin_1")
#remove labels
try:
    del(data['l_ATC1'])
    del(data['L_ATC2'])
    del(data['L_ATC3'])
    del(data['L_ATC4'])
    del(data['L_ATC5'])
    del(data['l_cip13'])
except:
    pass

In [3]:
#show the first rows
data

,ATC1,ATC2,ATC3,ATC4,ATC5,CIP13,TOP_GEN,GEN_NUM,age,sexe,BEN_REG,PSP_SPE,BOITES,REM,BSE
0,A,A01,A01A,A01AA,A01AA01,3400931911999,0,0,0,1,5,1,113,"53,31","191,53"
1,A,A01,A01A,A01AA,A01AA01,3400931911999,0,0,0,1,5,12,152,"77,60","258,68"
2,A,A01,A01A,A01AA,A01AA01,3400931911999,0,0,0,1,5,90,74,"33,50","126,72"
3,A,A01,A01A,A01AA,A01AA01,3400931911999,0,0,0,1,5,98,13,"6,56","21,87"
4,A,A01,A01A,A01AA,A01AA01,3400931911999,0,0,0,1,11,1,106,"39,47","136,74"
5,A,A01,A01A,A01AA,A01AA01,3400931911999,0,0,0,1,11,12,549,"216,07","708,63"
6,A,A01,A01A,A01AA,A01AA01,3400931911999,0,0,0,1,11,90,134,"53,99","172,86"
7,A,A01,A01A,A01AA,A01AA01,3400931911999,0,0,0,1,11,98,137,"54,18","176,73"
8,A,A01,A01A,A01AA,A01AA01,3400931911999,0,0,0,1,24,1,39,"14,32","50,31"
9,A,A01,A01A,A01AA,A01AA01,3400931911999,0,0,0,1,24,12,66,"25,54","85,14"
10,A,A01,A01A,A01AA,A01AA01,3400931911999,0,0,0,1,24,90,29,"12,13","37,41"
11,A,A01,A01A,A01AA,A01AA01,3400931911999,0,0,0,1,24,98,13,"5,03","16,77"
12,A,A01,A01A,A01AA,A01AA01,3400931911999,0,0,0,1,27,1,85,"32,90","109,65"
13,A,A01,A01A,A01AA,A01AA01,3400931911999,0,0,0,1,27,12,83,"33,02","107,07"
14,A,A01,A01A,A01AA,A01AA01,3400931911999,0,0,0,1,27,90,68,"29,93","87,72"
15,A,A01,A01A,A01AA,A01AA01,3400931911999,0,0,0,1,27,98,31,"12,00","39,99"
16,A,A01,A01A,A01AA,A01AA01,3400931911999,0,0,0,1,28,1,73,"28,25","94,17"
17,A,A01,A01A,A01AA,A01AA01,3400931911999,0,0,0,1,28,12,15,"5,81","19,35"
18,A,A01,A01A,A01AA,A01AA01,3400931911999,0,0,0,1,28,90,19,"7,35","24,51"
19,A,A01,A01A,A01AA,A01AA01,3400931911999,0,0,0,1,28,98,16,"6,19","20,64"
20,A,A01,A01A,A01AA,A01AA01,3400931911999,0,0,0,1,32,1,95,"37,35","122,55"
21,A,A01,A01A,A01AA,A01AA01,3400931911999,0,0,0,1,32,12,181,"70,63","233,49"
22,A,A01,A01A,A01AA,A01AA01,3400931911999,0,0,0,1,32,90,89,"38,64","114,81"
23,A,A01,A01A,A01AA,A01AA01,3400931911999,0,0,0,1,32,98,59,"23,41","76,11"
24,A,A01,A01A,A01AA,A01AA01,3400931911999,0,0,0,1,44,1,163,"67,02","210,27"
25,A,A01,A01A,A01AA,A01AA01,3400931911999,0,0,0,1,44,12,642,"255,03","828,18"
26,A,A01,A01A,A01AA,A01AA01,3400931911999,0,0,0,1,44,90,134,"54,70","172,86"
27,A,A01,A01A,A01AA,A01AA01,3400931911999,0,0,0,1,44,98,78,"30,83","100,62"
28,A,A01,A01A,A01AA,A01AA01,3400931911999,0,0,0,1,52,1,31,"12,00","39,99"
29,A,A01,A01A,A01AA,A01AA01,3400931911999,0,0,0,1,52,12,83,"32,31","107,07"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1829829,V,V08,V08D,V08DA,V08DA05,3400935756466,0,0,60,2,44,3,208,"11.498,84","16.284,38"
1829830,V,V08,V08D,V08DA,V08DA05,3400935756466,0,0,60,2,44,6,43,"2.604,71","3.333,28"
1829831,V,V08,V08D,V08DA,V08DA05,3400935756466,0,0,60,2,44,90,162,"9.723,62","12.619,32"
1829832,V,V08,V08D,V08DA,V08DA05,3400935756466,0,0,60,2,44,99,16,"888,43","1.231,72"
1829833,V,V08,V08D,V08DA,V08DA05,3400935756466,0,0,60,2,52,3,55,"4.068,77","4.282,58"
1829834,V,V08,V08D,V08DA,V08DA05,3400935756466,0,0,60,2,52,90,116,"6.570,42","9.093,04"
1829835,V,V08,V08D,V08DA,V08DA05,3400935756466,0,0,60,2,52,99,14,"771,24","1.098,92"
1829836,V,V08,V08D,V08DA,V08DA05,3400935756466,0,0,60,2,53,1,15,"978,24","1.165,32"
1829837,V,V08,V08D,V08DA,V08DA05,3400935756466,0,0,60,2,53,3,360,"23.315,67","27.933,02"
1829838,V,V08,V08D,V08DA,V08DA05,3400935756466,0,0,60,2,53,4,14,"982,06","1.088,96"
1829839,V,V08,V08D,V08DA,V08DA05,3400935756466,0,0,60,2,53,90,138,"8.775,11","10.809,70"
1829840,V,V08,V08D,V08DA,V08DA05,3400935756466,0,0,60,2,53,99,23,"1.402,04","1.776,20"
1829841,V,V08,V08D,V08DA,V08DA05,3400935756466,0,0,60,2,75,3,35,"2.507,54","2.785,26"
1829842,V,V08,V08D,V08DA,V08DA05,3400935756466,0,0,60,2,75,6,33,"1.830,32","2.599,56"
1829843,V,V08,V08D,V08DA,V08DA05,3400935756466,0,0,60,2,75,90,69,"4.291,60","5.408,28"
1829844,V,V08,V08D,V08DA,V08DA05,3400935756466,0,0,60,2,75,99,18,"1.076,68","1.404,36"
1829845,V,V08,V08D,V08DA,V08DA05,3400935756466,0,0,60,2,76,1,19,"1.183,25","1.480,72"
1829846,V,V08,V08D,V08DA,V08DA05,3400935756466,0,0,60,2,76,3,400,"24.061,12","31.081,18"
1829847,V,V08,V08D,V08DA,V08DA05,3400935756466,0,0,60,2,76,6,18,"973,59","1.374,48"
1829848,V,V08,V08D,V08DA,V08DA05,3400935756466,0,0,60,2,76,90,213,"12.315,42","16.589,60"
1829849,V,V08,V08D,V08DA,V08DA05,3400935756466,0,0,60,2,76,99,26,"1.534,84","2.015,24"
1829850,V,V08,V08D,V08DA,V08DA05,3400935756466,0,0,60,2,84,3,30,"2.036,16","2.340,60"
1829851,V,V08,V08D,V08DA,V08DA05,3400935756466,0,0,60,2,84,6,19,"982,72","1.470,76"
1829852,V,V08,V08D,V08DA,V08DA05,3400935756466,0,0,60,2,84,90,108,"6.755,73","8.459,14"
1829853,V,V08,V08D,V08DA,V08DA05,3400935756466,0,0,60,2,84,99,34,"1.967,43","2.646,04"
1829854,V,V08,V08D,V08DA,V08DA05,3400935756466,0,0,60,2,93,1,19,"1.293,64","1.480,72"
1829855,V,V08,V08D,V08DA,V08DA05,3400935756466,0,0,60,2,93,3,260,"17.739,10","20.321,06"
1829856,V,V08,V08D,V08DA,V08DA05,3400935756466,0,0,60,2,93,90,125,"7.785,87","9.790,24"
1829857,V,V08,V08D,V08DA,V08DA05,3400935756466,0,0,60,2,93,99,27,"1.607,05","2.091,60"
1829858,V,V08,V08D,V08DA,V08DA05,3400935756466,0,0,99,2,99,99,11,"689,56","849,92"

The dataset gives the number of drug boxes delivered (in pharmacies, not in hospitals) 

Description of the columns

- `CIP13` is the barcode of the drug box
- `ATC5` is the classification of the drug (active component) in the international ATC taxonomy (ATC1 to ATC4 are the sublevels) 
- `age` is a class of ages of the beneficiaries  (0, 20, 60 or 99)
- `sexe` is the sexe of the beneficiaries 
- `BEN_REG` region of the beneficiaries
- `TOP_GEN` generic-brand {'0', '9', 'G', 'R', 'S'}
- `TOP_GEN` generic group (0 if none)
- `PSP_SPE` speciality of the prescriber
- `BOITES` total of drug boxes that have been delivered during year 2019 to people of given sex, in given age group with a given regime by a given prescriber's specialty
- `REM` and `BSE` are related to the costs

In [4]:
print("TOP_GEN: "+str(set(data['TOP_GEN'])))
print("GEN_NUM: "+str(set(data['GEN_NUM'])))
print("age: "+str(set(data['age'])))
print("sexe: "+str(set(data['sexe'])))
print("BEN_REG: "+str(set(data['BEN_REG'])))
print("PSP_SPE: "+str(set(data['PSP_SPE'])))

TOP_GEN: {'G', 'S', 'R', '0', '9'}
GEN_NUM: {0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 14, 15, 16, 17, 19, 20, 26, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 43, 45, 50, 51, 54, 55, 56, 57, 59, 60, 65, 66, 67, 68, 69, 70, 71, 72, 73, 78, 79, 80, 81, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 99, 100, 101, 102, 103, 104, 105, 108, 117, 118, 119, 120, 124, 125, 126, 127, 128, 129, 130, 133, 134, 135, 136, 138, 139, 140, 141, 142, 143, 147, 149, 150, 151, 152, 153, 154, 155, 156, 157, 158, 159, 160, 161, 165, 166, 167, 168, 170, 171, 174, 176, 177, 178, 179, 180, 182, 183, 184, 185, 186, 187, 188, 191, 192, 193, 194, 195, 196, 201, 202, 203, 205, 206, 210, 211, 212, 213, 214, 215, 216, 217, 218, 219, 220, 221, 222, 223, 225, 230, 231, 233, 234, 237, 238, 239, 240, 241, 242, 243, 245, 247, 248, 249, 250, 251, 252, 254, 255, 256, 257, 258, 259, 260, 261, 262, 263, 264, 266, 267, 268, 269, 271, 272, 274, 275, 276, 277, 278, 279, 280, 281, 282, 283, 284, 285, 286, 293, 294, 295, 296, 297, 299, 300, 301, 302, 303, 304, 306, 307, 308, 309, 310, 312, 313, 314, 315, 316, 317, 318, 319, 320, 321, 322, 325, 326, 327, 328, 329, 330, 331, 333, 334, 335, 336, 338, 340, 341, 342, 343, 344, 345, 346, 347, 348, 349, 350, 351, 352, 356, 357, 358, 359, 361, 362, 363, 364, 365, 367, 368, 370, 372, 373, 374, 378, 379, 381, 382, 383, 384, 385, 386, 387, 388, 389, 390, 391, 398, 400, 401, 402, 403, 404, 408, 409, 410, 411, 415, 416, 417, 418, 420, 423, 424, 425, 427, 428, 429, 430, 431, 432, 435, 437, 438, 440, 441, 443, 444, 446, 448, 449, 450, 451, 452, 455, 456, 457, 461, 462, 463, 466, 467, 468, 469, 471, 472, 473, 476, 477, 478, 479, 480, 481, 482, 483, 485, 487, 490, 491, 492, 493, 496, 498, 499, 500, 501, 502, 503, 504, 506, 508, 509, 510, 511, 512, 513, 516, 522, 523, 525, 526, 530, 531, 532, 533, 534, 535, 536, 537, 540, 541, 542, 543, 544, 547, 548, 549, 551, 552, 553, 554, 555, 556, 558, 559, 560, 561, 562, 563, 568, 574, 577, 578, 579, 580, 585, 586, 587, 589, 590, 591, 592, 603, 604, 605, 606, 607, 608, 609, 610, 613, 614, 618, 619, 620, 621, 622, 623, 624, 625, 626, 628, 631, 632, 633, 638, 639, 640, 641, 642, 643, 644, 646, 647, 648, 649, 650, 653, 654, 655, 659, 661, 662, 663, 667, 668, 669, 671, 674, 676, 679, 680, 682, 683, 684, 685, 686, 687, 688, 689, 690, 691, 692, 693, 694, 695, 704, 705, 706, 707, 711, 712, 713, 715, 719, 720, 721, 722, 723, 724, 725, 726, 727, 728, 730, 731, 732, 734, 735, 737, 738, 740, 743, 744, 748, 749, 750, 751, 752, 754, 756, 757, 758, 759, 760, 762, 764, 765, 770, 773, 776, 777, 782, 784, 790, 792, 793, 794, 795, 796, 798, 799, 800, 802, 803, 806, 807, 809, 810, 811, 812, 813, 814, 815, 817, 821, 828, 829, 835, 836, 838, 839, 840, 841, 842, 843, 846, 847, 849, 850, 851, 852, 853, 854, 855, 856, 857, 858, 859, 861, 862, 867, 868, 869, 870, 873, 878, 882, 883, 884, 889, 890, 891, 895, 896, 897, 898, 901, 904, 905, 906, 907, 908, 909, 910, 911, 912, 913, 914, 915, 916, 917, 918, 919, 920, 922, 925, 926, 927, 928, 930, 931, 933, 934, 936, 938, 939, 946, 947, 949, 950, 952, 953, 954, 957, 963, 966, 967, 971, 976, 977, 978, 979, 980, 981, 982, 983, 984, 991, 992, 996, 997, 998, 999, 1005, 1006, 1007, 1011, 1018, 1019, 1021, 1022, 1023, 1024, 1025, 1026, 1027, 1028, 1029, 1030, 1031, 1032, 1033, 1034, 1040, 1041, 1042, 1043, 1044, 1045, 1048, 1051, 1052, 1053, 1055, 1057, 1058, 1059, 1060, 1061, 1062, 1063, 1068, 1069, 1070, 1071, 1072, 1073, 1077, 1083, 1084, 1087, 1088, 1089, 1090, 1092, 1093, 1094, 1095, 1096, 1097, 1098, 1099, 1107, 1108, 1111, 1112, 1113, 1114, 1115, 1116, 1117, 1118, 1119, 1120, 1121, 1125, 1126, 1127, 1131, 1132, 1135, 1136, 1137, 1138, 1140, 1141, 1142, 1143, 1144, 1145, 1146, 1147, 1148, 1149, 1150, 1151, 1152, 1153, 1154, 1155, 1156, 1157, 1159, 1160, 1161, 1162, 1163, 1166, 1169, 1172, 1173, 1176, 1177, 1178, 1179, 1180, 1181, 1182, 1183, 1185, 1191, 1196, 1197, 1198, 1199, 1200, 1201, 1202, 1203, 1204, 1205, 1206, 1207, 1208, 1210, 1211, 1214, 1215, 1224, 1228, 1229, 1230, 1231, 1232, 1233, 1235, 1236, 1237, 1238, 1239, 1240, 1241, 1242}
age: {0, 99, 20, 60}
sexe: {1, 2, 9}
BEN_REG: {32, 0, 99, 5, 11, 44, 75, 76, 52, 53, 84, 24, 27, 28, 93}
PSP_SPE: {1, 2, 3, 4, 5, 6, 7, 8, 9, 11, 12, 13, 14, 15, 17, 18, 31, 32, 35, 37, 38, 42, 90, 98, 99}

Remove some useless colums, and gather some lines togethers

In [5]:
try:
    del(data['ATC1'])
    del(data['ATC2'])
    del(data['ATC3'])
    del(data['ATC4'])
    del(data['TOP_GEN'])
    del(data['GEN_NUM'])
    del(data['REM'])
    del(data['BSE'])
except:
    pass

df=data.groupby(["age","sexe","ATC5","CIP13"]).agg({"BOITES":["sum"]}) #compute a group object
df = df.reset_index() #transform the group object into a dataframe
df.columns = df.columns.get_level_values(0)
len(df)

62850

In [6]:
df.sort_values( by=["BOITES"], ascending=False )

       age  sexe     ATC5          CIP13    BOITES
53604   60     2  N02BE01  3400935955838  40447065
31408   20     2  N02BE01  3400935955838  38276594
42593   60     1  N02BE01  3400935955838  28024402
20468   20     1  N02BE01  3400935955838  26999028
53646   60     2  N02BE01  3400941533969  19047699
53609   60     2  N02BE01  3400936158832  17703758
53568   60     2  N02BE01  3400932679041  16223081
36084   60     1  B01AC06  3400934744198  12005540
31452   20     2  N02BE01  3400941533969  10386609
46964   60     2  B01AC06  3400934744198  10325259
42598   60     1  N02BE01  3400936158832  10075408
42634   60     1  N02BE01  3400941533969   9147572
31413   20     2  N02BE01  3400936158832   9073332
53596   60     2  N02BE01  3400935291783   8035176
53597   60     2  N02BE01  3400935294227   7899800
53583   60     2  N02BE01  3400934507786   7671566
3838     0     1  N02BE01  3400934615467   7185042
53563   60     2  N02BE01  3400932320189   6739239
9941     0     2  N02BE01  3400934615467   6623691
53650   60     2  N02BE71  3400935154958   6438383
42585   60     1  N02BE01  3400935291783   6227204
20473   20     1  N02BE01  3400936158832   6225569
42586   60     1  N02BE01  3400935294227   6181163
42558   60     1  N02BE01  3400932679041   5580517
31401   20     2  N02BE01  3400935294227   5554495
20512   20     1  N02BE01  3400941533969   4999002
20461   20     1  N02BE01  3400935294227   4616378
23948   20     2  A03AX12  3400930986080   4541774
46829   60     2  A12BA01  3400932905997   4374809
54791   60     2  N05BA04  3400935887559   3816996
...    ...   ...      ...            ...       ...
6308     0     2  A02BC04  3400921854466        11
6318     0     2  A02BC04  3400926667894        11
38619   60     1  C09DA03  3400941561474        11
6242     0     2  A02BC03  3400930106860        11
6195     0     2  A02BC02  3400939389653        11
6270     0     2  A02BC03  3400938117042        11
6238     0     2  A02BC03  3400930070574        11
30833   20     2  M03BX05  3400933398804         8
19915   20     1  M03BX05  3400935971166         8
30840   20     2  M03BX05  3400936171619         3
30838   20     2  M03BX05  3400935971975        -1
19920   20     1  M03BX05  3400936738409        -1
30837   20     2  M03BX05  3400935971166        -2
19911   20     1  M03BX05  3400933398804        -3
19910   20     1  M03BX05  3400933398743        -4
30841   20     2  M03BX05  3400936617650        -4
30839   20     2  M03BX05  3400935972057        -5
61968   99     9  N02BE01  3400936381865       -14
30834   20     2  M03BX05  3400935606105       -15
19914   20     1  M03BX05  3400935970916       -15
19918   20     1  M03BX05  3400936617650       -16
56658   60     9  D07CC01  3400932473793       -16
30836   20     2  M03BX05  3400935970916       -17
19912   20     1  M03BX05  3400935606105       -18
19916   20     1  M03BX05  3400935971975       -21
19917   20     1  M03BX05  3400935972057       -21
30842   20     2  M03BX05  3400936617711       -24
53015   60     2  M03BX05  3400935971166       -34
19913   20     1  M03BX05  3400935882646       -39
19919   20     1  M03BX05  3400936617711       -44

[62850 rows x 5 columns]

Some remarks
- I have few negative counts

# Population datasets

Datasets about population demography are provided by INSEE.
There are several dataset publicly available that may be useful:
- Sexe/Age/Quinquennal dataset provide population count by sex and city, but it is aggregated by age (5 years)
- the population dataset provides information, per yearly age and sex, of the national population. My idea is to use this dataset of redistribute the population in the 5 years group (and by sex) of people according to the national distribution of this group of people.
- population dataset maybe useful to get the zip code of cities

In [33]:
pop_saq = pd.read_csv("../data/pop-sexe-age-quinquennal.zip", header=0, sep=',', encoding="latin_1", dtype={'DR':str,'DR18':str })
pop_saq.dropna(inplace=True) #some cities disappeared leading to none lines
try:
    #remove some a priori useless columns
    del(pop_saq['RR'])
    del(pop_saq['CR'])
    del(pop_saq['DR'])
    del(pop_saq['STABLE'])
except:
    pass

#Gather all the columns in a unique column with variables to describe them ('sex' and 'age')
pop_saq=pop_saq.melt(id_vars=['DR18','LIBELLE'])
tmp=test['variable'].str.extract(r'ageq_rec(?P<age>\d+)s(?P<sex>\d)rpop2016')
pop_saq=pd.concat([tmp,pop_saq],axis=1)
pop_saq['age']=(pd.to_numeric(pop_saq['age'])-1)*5 #counts for 5 years intervals of ages
del(tmp)
del(pop_saq['variable'])

#rename columns
pop_saq=pop_saq.rename(columns={'LIBELLE':'Ville', 'DR18':'dpt'})

pop_saq

         age sex DR18                   LIBELLE       value
0          0   1   01     Abergement-Clémenciat   15.000000
1          0   1   01       Abergement-De-Varey    5.000000
2          0   1   01         Ambérieu-En-Bugey  529.591402
3          0   1   01       Ambérieux-En-Dombes   25.555140
4          0   1   01                   Ambléon    5.000000
5          0   1   01                  Ambronay  125.296961
6          0   1   01                  Ambutrix   14.900662
7          0   1   01          Andert-Et-Condon    0.000000
8          0   1   01                 Anglefort   55.443946
9          0   1   01                  Apremont   15.279255
10         0   1   01                     Aranc   15.000083
11         0   1   01                   Arandas   10.277778
12         0   1   01                    Arbent   65.215187
13         0   1   01           Arboys En Bugey    9.891808
14         0   1   01                   Arbigny   15.419868
15         0   1   01                     Argis    5.000000
16         0   1   01                     Armix    5.416667
17         0   1   01           Ars-Sur-Formans   33.649123
18         0   1   01                  Artemare   30.000000
19         0   1   01        Asnières-Sur-Saône    0.000000
20         0   1   01                  Attignat  106.929903
21         0   1   01            Bâgé-Dommartin  114.491491
22         0   1   01            Bâgé-Le-Châtel   21.107143
23         0   1   01                     Balan   82.149501
24         0   1   01                   Baneins    9.973625
25         0   1   01                  Beaupont   14.911298
26         0   1   01                Beauregard   19.705518
27         0   1   01                 Bellignat   49.923588
28         0   1   01                 Béligneux  138.167736
29         0   1   01  Bellegarde-Sur-Valserine  421.486808
...      ...  ..  ...                       ...         ...
1416090   95   2  973                    Camopi    0.000000
1416091   95   2  973               Grand-Santi    0.000000
1416092   95   2  973                Saint-Élie    0.000000
1416093   95   2  973                    Apatou    0.000000
1416094   95   2  973            Awala-Yalimapo    0.000000
1416095   95   2  973                Papaichton    0.000000
1416096   95   2  974                   Avirons    2.535622
1416097   95   2  974                Bras-Panon   12.666745
1416098   95   2  974                Entre-Deux   10.309915
1416099   95   2  974                Étang-Salé    0.000000
1416100   95   2  974                Petite-Île   12.454280
1416101   95   2  974      Plaine-Des-Palmistes    5.000000
1416102   95   2  974                      Port   15.222521
1416103   95   2  974                Possession   14.816454
1416104   95   2  974               Saint-André   37.901083
1416105   95   2  974              Saint-Benoît   27.579991
1416106   95   2  974               Saint-Denis  140.992123
1416107   95   2  974              Saint-Joseph   57.526789
1416108   95   2  974                 Saint-Leu   22.577643
1416109   95   2  974               Saint-Louis   47.408406
1416110   95   2  974                Saint-Paul   98.487379
1416111   95   2  974              Saint-Pierre   58.582772
1416112   95   2  974            Saint-Philippe   20.552772
1416113   95   2  974              Sainte-Marie   12.355197
1416114   95   2  974               Sainte-Rose   10.158977
1416115   95   2  974            Sainte-Suzanne   10.082253
1416116   95   2  974                   Salazie    5.135268
1416117   95   2  974                    Tampon   55.228924
1416118   95   2  974             Trois-Bassins    0.000000
1416119   95   2  974                    Cilaos    4.951079

[1416120 rows x 5 columns]

Note that I don't know yet why there are real-valued counts !!

In [9]:
pop_france = pd.read_csv("../data/pop-totale-france-metro.zip", header=0, sep=',', encoding="latin_1")
del(pop_france["Année de naissance"])
del(pop_france["Ensemble"])
pop_france.rename(columns={"Âge révolu":"age", "Nombre d'hommes":"male", "Nombre de femmes":"female"}, inplace=True)
pop_france

             age      male    female
0              0    343009    329909
1              1    348625    333151
2              2    354653    340515
3              3    366334    350669
4              4    376914    360433
5              5    386296    374278
6              6    392050    375104
7              7    401732    381332
8              8    402835    386329
9              9    412838    395927
10            10    410032    390752
11            11    411597    392913
12            12    406858    389218
13            13    414061    396573
14            14    405934    386107
15            15    405931    386046
16            16    405172    385143
17            17    405928    383887
18            18    410971    387863
19            19    413039    389082
20            20    385174    366103
21            21    378431    363881
22            22    362439    351809
23            23    361955    356725
24            24    355295    354042
25            25    342352    344611
26            26    341633    345725
27            27    357896    364893
28            28    365673    373063
29            29    372975    384892
..           ...       ...       ...
77            77    193464    239274
78            78    167480    212819
79            79    167830    220487
80            80    169863    230059
81            81    160080    222229
82            82    149818    215432
83            83    142329    212679
84            84    127502    202242
85            85    120384    199130
86            86    105362    183340
87            87     97075    178891
88            88     83871    162729
89            89     72164    150048
90            90     56594    126549
91            91     46243    111735
92            92     36254     94034
93            93     27800     80912
94            94     21847     65962
95            95     16026     52457
96            96     11291     41004
97            97      7584     31471
98            98      5389     23048
99            99      3517     16040
100          100      1216      6823
101          101       703      3852
102          102       367      2490
103          103       241      1396
104          104       212       946
105  105 ou plus       638      2060
106        Total  31378856  33519098

[107 rows x 3 columns]

In [39]:
pop_cities = pd.read_csv("../data/population.zip", header=0, sep=';', encoding="utf-8")
pop_cities

        Code                    Ville  Population2016
0       1001  L'Abergement-Clémenciat           767.0
1       1002    L'Abergement-de-Varey           243.0
2       1004        Ambérieu-en-Bugey         14081.0
3       1005      Ambérieux-en-Dombes          1671.0
4       1006                  Ambléon           110.0
5       1007                 Ambronay          2684.0
6       1008                 Ambutrix           750.0
7       1009         Andert-et-Condon           336.0
8       1010                Anglefort          1124.0
9       1011                 Apremont           383.0
10      1012                    Aranc           326.0
11      1013                  Arandas           148.0
12      1014                   Arbent          3379.0
13      1015          Arboys en Bugey           640.0
14      1016                  Arbigny           462.0
15      1017                    Argis           438.0
16      1019                    Armix            26.0
17      1021          Ars-sur-Formans          1389.0
18      1022                 Artemare          1227.0
19      1023       Asnières-sur-Saône            63.0
20      1024                 Attignat          3270.0
21      1025           Bâgé-Dommartin          4088.0
22      1026           Bâgé-le-Châtel           915.0
23      1027                    Balan          2856.0
24      1028                  Baneins           596.0
25      1029                 Beaupont           685.0
26      1030               Beauregard           885.0
27      1031                Bellignat          3618.0
28      1032                Béligneux          3314.0
29      1033               Valserhône         16302.0
...      ...                      ...             ...
34938  97412             Saint-Joseph         37629.0
34939  97413                Saint-Leu         33697.0
34940  97414              Saint-Louis         53220.0
34941  97415               Saint-Paul        105482.0
34942  97416             Saint-Pierre         84169.0
34943  97417           Saint-Philippe          5235.0
34944  97418             Sainte-Marie         33160.0
34945  97419              Sainte-Rose          6520.0
34946  97420           Sainte-Suzanne         23224.0
34947  97421                  Salazie          7400.0
34948  97422                Le Tampon         77283.0
34949  97423        Les Trois-Bassins          7111.0
34950  97424                   Cilaos          5403.0
34951  97601                    Acoua             NaN
34952  97602               Bandraboua             NaN
34953  97603                 Bandrele             NaN
34954  97604                   Bouéni             NaN
34955  97605                  Chiconi             NaN
34956  97606                Chirongui             NaN
34957  97607                  Dembeni             NaN
34958  97608                 Dzaoudzi             NaN
34959  97609                Kani-Kéli             NaN
34960  97610                  Koungou             NaN
34961  97611                Mamoudzou             NaN
34962  97612                Mtsamboro             NaN
34963  97613            M'Tsangamouji             NaN
34964  97614                 Ouangani             NaN
34965  97615                 Pamandzi             NaN
34966  97616                     Sada             NaN
34967  97617                 Tsingoni             NaN

[34968 rows x 3 columns]

In [48]:
#tentative de récupération des codes commune ... 
# mais 1) les libellés ne correspondent pas exactement ... et 2) le merge se comporte bizarement !!
pd.merge(test2,pop_cities,how='left', on='Ville')

         age sex DR18                  Ville       value Code  Population2016
0          0   1   01  Abergement-Clémenciat   15.000000  NaN             NaN
1          0   1   01    Abergement-De-Varey    5.000000  NaN             NaN
2          0   1   01      Ambérieu-En-Bugey  529.591402  NaN             NaN
3          0   1   01    Ambérieux-En-Dombes   25.555140  NaN             NaN
4          0   1   01                Ambléon    5.000000    1           110.0
5          0   1   01               Ambronay  125.296961    1          2684.0
6          0   1   01               Ambutrix   14.900662    1           750.0
7          0   1   01       Andert-Et-Condon    0.000000  NaN             NaN
8          0   1   01              Anglefort   55.443946    1          1124.0
9          0   1   01               Apremont   15.279255    1           383.0
10         0   1   01               Apremont   15.279255    8           118.0
11         0   1   01               Apremont   15.279255   60           673.0
12         0   1   01               Apremont   15.279255   70           467.0
13         0   1   01               Apremont   15.279255   73          1026.0
14         0   1   01               Apremont   15.279255   85          1799.0
15         0   1   01                  Aranc   15.000083    1           326.0
16         0   1   01                Arandas   10.277778    1           148.0
17         0   1   01                 Arbent   65.215187    1          3379.0
18         0   1   01        Arboys En Bugey    9.891808  NaN             NaN
19         0   1   01                Arbigny   15.419868    1           462.0
20         0   1   01                  Argis    5.000000    1           438.0
21         0   1   01                  Armix    5.416667    1            26.0
22         0   1   01        Ars-Sur-Formans   33.649123  NaN             NaN
23         0   1   01               Artemare   30.000000    1          1227.0
24         0   1   01     Asnières-Sur-Saône    0.000000  NaN             NaN
25         0   1   01               Attignat  106.929903    1          3270.0
26         0   1   01         Bâgé-Dommartin  114.491491    1          4088.0
27         0   1   01         Bâgé-Le-Châtel   21.107143  NaN             NaN
28         0   1   01                  Balan   82.149501    1          2856.0
29         0   1   01                  Balan   82.149501    8          1613.0
...      ...  ..  ...                    ...         ...  ...             ...
1718210   95   2  974             Saint-Paul   98.487379   87          1241.0
1718211   95   2  974             Saint-Paul   98.487379   88           152.0
1718212   95   2  974             Saint-Paul   98.487379   97        105482.0
1718213   95   2  974           Saint-Pierre   58.582772    4            97.0
1718214   95   2  974           Saint-Pierre   58.582772   15           135.0
1718215   95   2  974           Saint-Pierre   58.582772   31           247.0
1718216   95   2  974           Saint-Pierre   58.582772   39           341.0
1718217   95   2  974           Saint-Pierre   58.582772   51           295.0
1718218   95   2  974           Saint-Pierre   58.582772   67           648.0
1718219   95   2  974           Saint-Pierre   58.582772   97          4125.0
1718220   95   2  974           Saint-Pierre   58.582772   97         84169.0
1718221   95   2  974         Saint-Philippe   20.552772   97          5235.0
1718222   95   2  974           Sainte-Marie   12.355197    8            81.0
1718223   95   2  974           Sainte-Marie   12.355197   15           110.0
1718224   95   2  974           Sainte-Marie   12.355197   25           695.0
1718225   95   2  974           Sainte-Marie   12.355197   32           424.0
1718226   95   2  974           Sainte-Marie   12.355197   35          2259.0
1718227   95   2  974           Sainte-Marie   12.355197   58            81.0
1718228   95   2  974           Sainte-Marie   12.355197   65            68.0
1718229   95   2  974           Sainte-Marie   12.355197   97         16185.0
1718230   95   2  974           Sainte-Marie   12.355197   97         33160.0
1718231   95   2  974            Sainte-Rose   10.158977   97         19468.0
1718232   95   2  974            Sainte-Rose   10.158977   97          6520.0
1718233   95   2  974         Sainte-Suzanne   10.082253    9           237.0
1718234   95   2  974         Sainte-Suzanne   10.082253   25          1533.0
1718235   95   2  974         Sainte-Suzanne   10.082253   97         23224.0
1718236   95   2  974                Salazie    5.135268   97          7400.0
1718237   95   2  974                 Tampon   55.228924  NaN             NaN
1718238   95   2  974          Trois-Bassins    0.000000  NaN             NaN
1718239   95   2  974                 Cilaos    4.951079   97          5403.0

[1718240 rows x 7 columns]

In [42]:
pop=pop_cities
dpt=[s[:(len(s)-3)] for s in pop["Code"]]
pop["Code"]=dpt

pop=pop.groupby(["Code"]).agg({"Population2016":["sum"]})

pop.reset_index(inplace=True)
pop.columns = pop.columns.get_level_values(0)
pop

pop.to_csv('population.csv',index=False)

In [47]:
print(pop)

   Code  Population2016
0     1        638425.0
1    10        308910.0
2    11        368025.0
3    12        278697.0
4    13       2019717.0
5    14        693679.0
6    15        145969.0
7    16        353288.0
8    17        642191.0
9    18        307110.0
10   19        241535.0
11    2        536136.0
12   21        533213.0
13   22        598953.0
14   23        119502.0
15   24        414789.0
16   25        538549.0
17   26        508006.0
18   27        602825.0
19   28        433929.0
20   29        908249.0
21   2A        154303.0
22   2B        176152.0
23    3        339384.0
24   30        742006.0
25   31       1348183.0
26   32        190664.0
27   33       1566679.0
28   34       1132481.0
29   35       1051779.0
..  ...             ...
67    7        325157.0
68   70        237242.0
69   71        555023.0
70   72        567561.0
71   73        429681.0
72   74        801416.0
73   75       2190327.0
74   76       1255755.0
75   77       1397665.0
76   78       1431808.0
77   79        374743.0
78    8        275371.0
79   80        572744.0
80   81        386448.0
81   82        256897.0
82   83       1055821.0
83   84        559014.0
84   85        670597.0
85   86        436069.0
86   87        374978.0
87   88        369641.0
88   89        340544.0
89    9        153067.0
90   90        144089.0
91   91       1287330.0
92   92       1603268.0
93   93       1606660.0
94   94       1378151.0
95   95       1221923.0
96   97       1892866.0

[97 rows x 2 columns]